html {
    background-color: #FAEBD7;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    font-size: 12px;
    font-family: Georgia;
    bottom: 0;
}

.scroll {
    width: 30em;
    overflow-x: auto;
    white-space: nowrap;
}